.collection-content-left {
	display: inline-block !important;
	float: left;
}

.collection-content-right {
	display: inline-block !important;
	float: right;
}

.collection-content-mid {
	display: inline-block !important;
	float: center;
	
}

.number-likes{
	position: absolute;
	top: 40px;
	right: 16px;
}